<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
	
	<bean id="b1" scope="prototype" 
		init-method="initBox" destroy-method="destroyBox" class="com.sh.spring03.Box">
		<property name="length" value="3"/>
		<property name="breadth" value="2"/>
		<property name="height" value="1"/>
	</bean>
</beans>
